[submodule "Externals/tinyobjloader"]
	path = Externals/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "Externals/DXTK"]
	path = Externals/DXTK
	url = git@github.com:microsoft/DirectXTK.git
[submodule "Externals/DXC"]
	path = Externals/DXC
	url = git@github.com:microsoft/DirectXShaderCompiler.git
[submodule "Externals/DXHeaders"]
	path = Externals/DXHeaders
	url = git@github.com:microsoft/DirectX-Headers.git
[submodule "Externals/STB"]
	path = Externals/STB
	url = git@github.com:nothings/stb.git
[submodule "Externals/DXMesh"]
	path = Externals/DXMesh
	url = git@github.com:microsoft/DirectXMesh.git
