/cmake-build-debug
/.idea
/cmake-build-release
/cmake-build-debug-visual-studio
/cmake-build
/.vs
/out
/venv
/vcpkg_installed
/Resources/Models/bistro
/Resources/Models/CornellBox
/Resources/Models/sponza
/Resources/Models/lost-empire
/build
/.build